<% content_for :title, 'Attendance' %>

<div class="bg-white shadow rounded-lg p-6">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-bold text-gray-900">出席管理</h2>
  </div>
  
  <div class="overflow-x-auto">
    <!-- カレンダー表示部分 -->
    <div class="bg-white rounded-2xl shadow-xl overflow-hidden">
      <h2 class="text-2xl font-bold ">練習カレンダー</h2>

    <% @current_month = Date.current %>
    <% @events_by_date = AttendanceEvent.all.order(date: :asc).group_by { |event| event.date } %>
    <%= render 'shared/calendar' %>
  </div>
  </div>
</div> 